<%= form_with model: @apartment, class: "form-row property-title" do |f| %>
<div class="custom-file col-md-8">
  <%= f.label "+", class: "custom-file-label" %>
  <%= f.file_field :floorplans, multiple: true, direct_upload: false, id: "floorplan-upload-field", class: "custom-file-input", data:{"max-file-size":"5000000"}, onchange: "validateFloorplans(this);"%>
</div>
<%= f.hidden_field :apartment_id, value: @apartment.id %>
<%= f.submit "SAVE", class: "d-none btn btn-outline-primary ml-md-1", id: "fsubmit" %>
<%= f.label " ", id:"floorplan-label", class: "mt-md-1" %>
<% end %>