<br>
<div class="col-md-4"></div>
<p class="text-center mt-md-5 ml-md-5 display-4 property-title">ADMIN SECTION</p>
<div class="col-md-3"></div>
<div class="col-md-3"></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 table-responsive">
  <table class="table table-sm" id="adminTable">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Address</th>
          <th scope="col">User</th>
          <th scope="col">Status</th>
         <th scope="col">Actions
          <%= link_to "View Archive", archival_path %>
         </th>
        </tr>
      </thead>
      <tbody>
        <% @apartments.each_with_index do |apartment,i| %>
        <tr>
          <th scope="row"><span><%= i+1 %></span></th>
          <td><%= link_to "#{apartment.house_number} #{apartment.street_address}, #{apartment.suburb} #{apartment.postcode}", apartment_path(apartment), class: "page-link" %></td>
          <td><%= link_to "#{apartment.user.username}  / #{apartment.user.email} (#{apartment.user.total_properties}) ", admin_owner_path(apartment.user), class: "page-link" %></td>
          <td>
            <%= apartment.approved? ? "<span class='btn btn-success'>Live</span>".html_safe : "<span class='btn btn-danger'>Offline</span>".html_safe %>
          </td>
          <td>
            <%= apartment.approved? ? link_to("Revoke", revoke_path(apartment), class: "btn btn-primary", method: "post") : link_to("Approve", approval_path(apartment), class: "btn btn-primary", method: "post") %>
            <%= link_to("Edit", edit_apartment_path(apartment), class: "btn btn-primary")%>
            <%= link_to("Delete", admin_deletion_path(apartment), class: "btn btn-primary", method: "delete")%>
            <%= link_to("Archive", admin_archive_path(apartment), class: "btn btn-primary", method: "post")%>            
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-1"></div>
</div>

