<div class="row">
  <div class="column col-md-4" id="contact-column"></div>
  <div class="col-md-4">
    <h2 class="text-center my-md-5"><%= image_tag get_aws_url("white_icons/icons8-new-contact-50.png"), class: "title-icons ml-md-2 mb-md-1" %> CONTACT US</h2>
    <%= form_with url: contact_us_path, local:true, class:"form-group" do |f| %>
      <%= image_tag get_aws_url("white_icons/icons8-name-50.png"), class: "feature-icons-edit-new ml-md-2" %>
      <%= f.label :name %>
      <%= f.text_field :firstname, autofocus: true,required:true, placeholder:"Your name", class: "form-control mb-md-3", value: current_user.present? && @apartment.present? ? "#{current_user.firstname} #{current_user.surname}"  : nil %>
      <%= image_tag get_aws_url("white_icons/icons8-mobile-50.png"), class: "feature-icons-edit-new ml-md-2" %>
      <%= f.label :phone %>
      <%= f.text_field :phone, required:true, placeholder: "Your phone number", class: "form-control mb-md-3", value: current_user.present? && @apartment.present? ? "#{current_user.phone}" : nil %>
      <%= image_tag get_aws_url("white_icons/icons8-email-50.png"), class: "feature-icons-edit-new ml-md-2" %>
      <%= f.label :email %>
      <%= f.text_field :email, required:true, placeholder: "Your email address", class: "form-control mb-md-3", value: current_user.present? && @apartment.present? ?  "#{current_user.email}" : nil %>
      <%= image_tag get_aws_url("white_icons/icons8-new-topic-50.png"), class: "feature-icons-edit-new ml-md-2" %>
      <%= f.label :subject %>
      <%= f.text_field :subject, required:true, placeholder: "Your message subject", class: "form-control mb-md-3", value: current_user.present? && @apartment.present? ?  "Your property at #{@apartment.street_address}, #{@apartment.suburb} \n": nil  %>
      <%= image_tag get_aws_url("white_icons/icons8-messaging-50.png"), class: "feature-icons-edit-new ml-md-2" %>
      <%= f.label :message %>
      <%= f.text_area :message_body, required:true, placeholder: "Your message", class: "form-control mb-md-3" %>
      <%= f.submit "Send", id: "contact-us-send", class:"btn btn-outline-primary col-md-12"  %>
    <% end %>
    <div class="actions">
    </div>
    <div class="mobile-break"></div>
  </div>
  <div class="column col-md-4"></div>
</div>