<div class="row" style="margin: -1rem 0 !important;">
  <div class="column col-md-4 my-md-5" id="contact-column"></div>
  <div class="col-md-4 my-md-5">
    <h1 class="text-center mt-md-5 my-md-5">Update your password</h1>
    <%= form_for :user, url: update_password_path, class: "form-group alert alert-info", method: "post" do |f| %>
    <%= f.hidden_field :reset_password_token, value: @token, class: "form-control mb-md-1" %>
    <%= f.label "New Password" %>
    <%= f.text_field :password, class: "form-control mb-md-1" %>
    <%= f.label "Repeat New Password" %>
    <%= f.text_field :password_confirmation, class: "form-control mb-md-1" %>
    <%= f.submit "Update", class: "btn btn-outline-primary col-md-12 my-md-5" %>
    <% end %>
  </div>
  <div class="column col-md-4 my-md-5"></div>
</div>