<p>Hi <%= @to.firstname %>,</p>

<p>A new user has just signed up:</p>

<p>username: <%= @username %></p>
<p>email: <%= @email %></p>
<p>name: <%= @firstname %> <%= @surname %></p>
<p>phone: <%= @phone %></p>
<br>
<p><%= @location_info %></p>

Thanks,

Your Homblok App.