<div class="container g-0 mb-md-5">
  <div class="row my-md-5">
    <div class="col-md-9">
      <h1>Photos & Floorplans</h1>
      <h4>
        <%= @apartment.full_address.upcase %>
      </h4>
    </div>
    <div class="col-md-3">
      <div class="mb-md-5">
        <%= render partial: "floorplans/new" %>
      </div>
      <div class="my-md-1">
        <%= link_to "Edit Details", edit_apartment_path(@apartment), class: "btn btn-outline-info col-md-4" %>
        <%= link_to "Submit Property", submit_path(property_id: @apartment.id), class: "btn btn-info  col-md-4" %>
      </div>
    </div>
  </div>
  <div class="col-md-1 mt-md-5"></div>
  <div class="col-md-11 mt-md-5">
    <div class="row mt-md-2">
      <%= render "photo", photos: @photos %>
      <% if @floorplans.present? %>
        <h5 class="mt-md-1">Floorplans</h5>
        <div class="row mt-md-2 mb-md-5">
          <% @floorplans&.each_with_index do |floorplan,index| %>
            <%= render "floorplan", floorplan: floorplan, index: index %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>