<%= form_for Photo.new, class: "form-row property-title" do |f| %>
<div class="custom-file col-md-8">
  <%= f.label "+", class: "custom-file-label" %>
  <%= f.file_field :photos, multiple: true, direct_upload: false, id: "photo-upload-field", class: "custom-file-input", data:{"max-file-size":"5000000"},  onchange: "validateFiles(this);"%>
</div>
<%#= image_tag "dark_icons/icons8-add-camera-50.png", class:"list-iconz mx-md-1"%><span></span>
<%= f.hidden_field :apartment_id, value: @apartment.id %>
<%= f.submit "SAVE", class: "d-none btn btn-outline-primary mt-md-2", id: "psubmit" %>
<%= f.label " ", id:"photo-label", class: "mt-md-1"  %>
<% end %>