<%= form_with url: update_all_apartment_photo_descriptions_path(@apartment, :update_all), method: :patch, class: "form-group", id: "photo-form" do |f| %>
  <div class="row">
    <%= f.submit "Save Changes to Descriptions", class: "btn btn-primary col-md-3 d-none", id: "update-description-btn" %>
  </div>
  <% @photos&.each_with_index do |photo, index| %>
    <% pd = PhotoDescription.find_or_initialize_by(blob_id: photo.id, apartment_id: @apartment.id) %>
    <div class="row my-md-3">
      <div class="col-md-4">
        <%= image_tag(photo_edit_page_apartment_image_url(photo), alt: "") %>
      </div>
      <div class="col-md-8">
        <h5><%= index + 1 %>. <%= photo.filename %></h5>
        <%= f.hidden_field "photos[#{photo.id}][blob_id]", value: photo.id %>
        <%= f.hidden_field "photos[#{photo.id}][apartment_id]", value: @apartment.id %>
        <%= f.text_field "photos[#{photo.id}][description]", 
                  value: pd.description, 
                  class: "form-control reply-box mb-md-2", 
                  maxlength: 200, 
                  placeholder: "This image is missing a description. Add 1 sentence." %>
        <%= f.submit "Delete", name: "delete[#{photo.id}]", 
                  class: "mt-md-5 btn btn-outline-info", 
                  data: { confirm: "Are you sure you want to delete this photo?" } %>
        <div class="form-check mt-md-2">
          <% feature_text = pd.featured ? "Featured Photo" : "..." %>
          <%= f.radio_button "featured", photo.id, checked: pd.featured, 
                   class: "form-check-input", id: "featured_#{photo.id}" %>
          <%= f.label "featured_#{photo.id}", feature_text , class: "form-check-label" %>
          <br>
          <% unless pd.featured %>
            <small>Select as Featured</small>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>