<% if device_is_mobile? %>
  <div class="row">
    <div class="col-10">
      <% if @address.length > 18 %>
        <h5><%= @address %></h5>
        <h5><%= @apartment.address_line_2 %></h5>
      <% else %>
        <h3><%= @address %></h3>
        <h3><%= @apartment.address_line_2 %></h3>
      <% end %>
    </div>
    <div class="col-2">
      <%= render partial: "favourites/widget", locals: {apartment: @apartment} %>
    </div>
  </div>
  <div class="row">
    <h6 class="m-4">
      <%= render "property_values", apartment: @apartment %>
    </h6>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-11">
      <% if @address.length > 18 %>
        <h5><%= @address %></h5>
        <h5><%= @apartment.address_line_2 %></h5>
      <% else %>
        <h3><%= @address %></h3>
        <h3><%= @apartment.address_line_2 %></h3>
      <% end %>
      <h6 class="mt-4">
        <%= render "property_values", apartment: @apartment %>
      </h6>
    </div>
    <div class="col-1">
      <div class="apartment-card">
        <%= render partial: "favourites/widget", locals: {apartment: @apartment} %>
      </div>
    </div>
  </div>
<% end %>
