<div class='row'>
  <div class="col-md-5 mt-sm-3">
    <%= f.label :house_number, "HOUSE NUMBER" %>
    <%= f.text_field :house_number, class: "form-control", required: true %>
  </div>
  <div class="col-md-7 mt-sm-3">
    <%= f.label :street_address, "STREET ADDRESS", class: "text-md-left" %>
    <%= f.text_field :street_address, class: "form-control mb-md-2", required: true %>
  </div>
</div>
<div class='row'>
  <div class="col-md-8 mt-sm-3">
    <%= f.label :suburb, "SUBURB"%>
    <%= f.text_field :suburb, class: "form-control", required: true  %>
  </div>
  <div class="col-md-4 mt-sm-3">
    <%= f.label :postcode, "POSTCODE", class: "text-md-left" %>
    <%= f.text_field :postcode, class: "form-control", required: true  %>
  </div>
</div>