<div class="row">
  <div class="col-md-4 mt-sm-3">
    <%= f.label :bedrooms, "BEDROOMS" %>
    <%= f.select(:bedrooms, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8], ["9", 9], ["10", 10]], { selected: apartment.bedrooms, prompt: "CHOOSE" }, class: "form-select") %>
  </div>
  <div class="col-md-4 mt-sm-3">
    <%= f.label :bathrooms, "BATHROOMS" %>
    <%= f.select(:bathrooms, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8]], { selected: apartment.bathrooms, prompt: "CHOOSE" }, class: "form-select") %>
  </div>
  <div class="col-md-4 mt-sm-3">
    <%= f.label :parking_spaces, "PARKING" %>
    <%= f.select(:parking_spaces, [["0", 0], ["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8]], { selected: apartment.parking_spaces, prompt: "CHOOSE" }, class: "form-select") %>
  </div>
</div>