<div class="row d-flex flex-wrap">
  <% apartments.each_with_index do |a, index| %>
    <% @features = a&.feature&.attributes&.select { |k, f| f.present? } %>
    <% @features = @features.keys if @features.present? %>
    <% @descriptors = a&.descriptor&.attributes&.select { |k, f| f.present? } %>
    <% @descriptors = @descriptors.keys if @descriptors.present? %>
    <% @amenities = a&.amenity&.attributes&.select { |k, f| f.present? } %>
    <% @amenities = @amenities.keys if @amenities.present? %>
    <% pic = a.featured_photo_id.present? ? a.photos.find_by(blob_id: a.featured_photo_id) : a.photos.first %>
    <% search_title = nil if controller_name == "users" %>

    <% unless a.archived %>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card" style="min-width: 18rem;min-height:380px;">
          <% tag = pic.present? ? image_tag(pic, alt: "", class: "img-fluid img-thumbnail") : '' %>
          <div style="max-height: 180px;overflow: clip;display: flex;justify-content: center;align-items: center;">
            <%= link_to tag, apartment_path(a, title: search_title), class: "alert-link" %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= render partial: "apartments/display_address", locals: { apartment: a, search_title: search_title } %>
            </h5>
            <p class="card-text">
              <%= render partial: "apartments/property_values", locals: {apartment: a} %>
            </p>
            <% if a.asking_price.present? && a.asking_price > 0 %>
              <div class="">
                <%= a.asking_price %>
              </div>
            <% end %>
            <div class="col-md-1 order-md-3 d-flex align-items-center">
              <%= render partial: "favourites/widget", locals: {apartment: a} %>
            </div>
          </div>
          <%= link_to apartment_path(a, title: search_title), class: "btn btn-light" do %>
            More information
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
