<div class="mobile-break"></div>
<%= image_tag get_aws_url("dark_icons/icons8-list-50.png"), class:"feature-icons-edit-new mb-md-1" unless device_is_mobile? %>
<%= f.label :description, "Describe your property and location in a few sentences", class: "mt-md-3"  %>
<br>
<%= f.text_area :description, class: "form-control", maxlength: 200 %>
<div class="row">
  <div class="col-md-4 mt-sm-3">
    <br>
    <%= f.label :strata, "STRATA TITLE ?" %>
    <%= f.select :strata, [["YES", true], ["NO", false]], {selected: apartment.strata}, class: "form-select", required: true %>
  </div>
  <div class="col-md-4 mt-sm-3">
    <br>
    <%= f.label :land_size, "LAND SIZE (m&#178;)".html_safe %>
    <%= f.text_field :land_size, class: "form-control", placeholder: "leave blank if n/a"  %>
  </div>
  <div class="col-md-4 mt-sm-3">
    <br>
    <%= f.label :internal_space, "INTERNAL AREA (m&#178;)".html_safe  %>
    <%= f.text_field :internal_space, class: "form-control", placeholder: "leave blank if n/a" %>
  </div>
</div>
<br>
<% if device_is_mobile? %>
  <% options = [["CHOOSE", nil]] %>
  <% (200000..10000000).step(50000).each do |i| %>
    <% options << ["$#{number_with_delimiter(i)}", i] %>
  <% end %>
  <p class="mt-md-3"><span>ASKING PRICE</span></p>
  <%= f.select :asking_price, options, {selected: apartment.asking_price}, class: "form-control", required: true %>
<% else %>
  <div class="row">
    <div class="col-md-3">
      <p class="mt-md-3"><span id="asking_price_label">ASKING PRICE</span></p>
    </div>
    <div class="col-md-9">
      <%= f.text_field :asking_price, value: apartment.asking_price.present? ? apartment.asking_price : nil, min: 0, step: 50000, class: "form-control ml-2 mt-2", required: true %>
    </div>
  </div>
  <br>
<% end %>