<% content_for(:html_title) { "Buy Properties - #{t("business.name")}" } %>
<%#= render partial: "postcodes/seed" %>
<div class="container-fluid g-0">
  <div class="row">
    <div class="bg-white rounded-3 m-auto col-lg-10 col-md-10 mt-md-5" id="location">
      <% if @options.present? %>
        <h2 class="text-center mt-md-5">
          <%= image_tag get_aws_url("dark_icons/icons8-home-address-50.png"), class: "title-icons mb-md-1" %>
          LOCATIONS
        </h2>
      <% end %>
      <%= form_with model: Apartment.new, url: search_page_two_path, local:true, multiple: true, method: :get do |f| %>
        <%= render "saved_searches" %>
        <div class="row mb-5">
          <div class="col-lg-6  align-items-stretch d-flex buy-property-data">
            <%= render partial: "searches/select_locales",locals: {f:f} %>
            <%= render partial: "searches/property_criteria",locals: {f:f} %>
          </div>
          <div class="col-lg-6 position-relative overflow-hidden">
            <div class="w-100 home-img-item d-flex align-items-center flex-wrap" id="item-display">
              <%= image_tag  "home2.png", class: 'home-icon' %>
              <div class="mb-2 w-100 d-flex justify-content-center side-icon-bed flex-wrap">
              </div>
              <div class="mb-2 w-100 d-flex justify-content-center side-icon-bath flex-wrap">
              </div>
              <div class="w-100 d-flex justify-content-center side-icon-parking flex-wrap">
              </div>
            </div>
            <ul class="locations-select-data">
            </ul>
          </div>
        </div>
        <div class="mt-5 mobile-buy-button d-flex justify-content-between position-relative">
          <div class="progress">
            <div class="circle active part-1 location-circle" circlevalue="part-1" >
            </div>
            <div class="circle part-2 bed-circle" circlevalue="part-2">
            </div>
            <div class="circle part-3 bath-circle" circlevalue="part-3">
            </div>
            <div class="circle part-4 car-circle" circlevalue="part-4">
            </div>
            <div class="circle part-5 price-circle" circlevalue="part-5">
            </div>
          </div>
          <span class="btn my-2 me-5 buy-back-button shadow-none disable-btn" nextvalue="part-1" id="back-button-buy-property" aria-hidden="true">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.4198 36.4081L17.5878 26.5067C17.374 26.2915 17.223 26.0583 17.1347 25.8072C17.0449 25.5561 17 25.287 17 25C17 24.713 17.0449 24.4439 17.1347 24.1928C17.223 23.9417 17.374 23.7085 17.5878 23.4933L27.4198 13.5919C27.8117 13.1973 28.3104 13 28.916 13C29.5216 13 30.0204 13.1973 30.4122 13.5919C30.8041 13.9865 31 14.4888 31 15.0987C31 15.7085 30.8041 16.2108 30.4122 16.6054L22.0763 25L30.4122 33.3946C30.8041 33.7892 31 34.2915 31 34.9013C31 35.5112 30.8041 36.0135 30.4122 36.4081C30.0204 36.8027 29.5216 37 28.916 37C28.3104 37 27.8117 36.8027 27.4198 36.4081Z" fill="#18A2B8"/>
              <circle cx="25" cy="25" r="21.25" stroke="#18A2B8" stroke-width="1.5"/>
            </svg>
          </span>
          <span class="btn my-2 ms-5 buy-next-button shadow-none" nextvalue="part-1" id='next-button-buy-property'>
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.4198 36.4081L17.5878 26.5067C17.374 26.2915 17.223 26.0583 17.1347 25.8072C17.0449 25.5561 17 25.287 17 25C17 24.713 17.0449 24.4439 17.1347 24.1928C17.223 23.9417 17.374 23.7085 17.5878 23.4933L27.4198 13.5919C27.8117 13.1973 28.3104 13 28.916 13C29.5216 13 30.0204 13.1973 30.4122 13.5919C30.8041 13.9865 31 14.4888 31 15.0987C31 15.7085 30.8041 16.2108 30.4122 16.6054L22.0763 25L30.4122 33.3946C30.8041 33.7892 31 34.2915 31 34.9013C31 35.5112 30.8041 36.0135 30.4122 36.4081C30.0204 36.8027 29.5216 37 28.916 37C28.3104 37 27.8117 36.8027 27.4198 36.4081Z" fill="#18A2B8"/>
              <circle cx="25" cy="25" r="21.25" stroke="#18A2B8" stroke-width="1.5"/>
            </svg>
          </span>
          <%= f.submit "SEARCH", class: "btn btn-outline-primary my-3 d-none", id: "startSearching" %>
        </div>
      <% end %>
    </div>
  </div>
</div>