<!-- Footer Start -->
<div class="container-fluid g-0 footer pt-5 mt-5 fadeIn" >
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h5 class="mb-4">Get In Touch</h5>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i><%= t("business.address") %></p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i><%= t("business.phone") %></p>
        <a href="mailto:<%= t("business.email") %>" class="mb-2"><i class="fa fa-envelope me-3"></i><%= t("business.email") %></a>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="mb-4">Quick Links</h5>
        <%= link_to 'About Us', background_path, class: 'btn btn-link text-white-50' %>
        <%= link_to 'FAQ', faq_path, class: 'btn btn-link text-white-50' %>
        <%= link_to 'STEP-BY-STEP GUIDE', guide_path, class: 'btn btn-link text-white-50' %>
        <%= link_to 'PRIVACY POLICY', policy_path, class: 'btn btn-link text-white-50' %>
        <%= link_to 'TERMS & CONDITIONS', terms_and_conditions_path, class: 'btn btn-link text-white-50' %>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Photo Gallery</h5>
        <div class="row g-2 pt-2">
          <div class="col-4">
            <%= image_tag(get_aws_url('property-1.jpg'), class: "img-fluid") %>
          </div>
          <div class="col-4">
            <%= image_tag(get_aws_url('property-2.jpg'), class: "img-fluid") %>
          </div>
          <div class="col-4">
            <%= image_tag(get_aws_url('property-3.jpg'), class: "img-fluid") %>
          </div>
          <div class="col-4">
            <%= image_tag(get_aws_url('property-4.jpg'), class: "img-fluid") %>
          </div>
          <div class="col-4">
            <%= image_tag(get_aws_url('property-5.jpg'), class: "img-fluid") %>
          </div>
          <div class="col-4">
            <%= image_tag(get_aws_url('property-6.jpg'), class: "img-fluid") %>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Newsletter</h5>
        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
        <div class="position-relative mx-auto" style="max-width: 400px;">
          <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
          <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          <a class="border-bottom" href="#"><%= t("business.name") %></a> &copy; <%= Time.new.year %>, All Right Reserved.
        </div>
        <div class="col-md-6 text-center text-md-end">
          <div class="footer-menu">
            <%= link_to 'Home', root_path %>
            <%= link_to 'Help', guide_path %>
            <%= link_to 'FAQs', faq_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>