<div class="container-fluid g-0 nav-bar antiquewhite-dark">
  <nav class="navbar navbar-expand-lg navbar-light py-0 px-4">
    <%= link_to root_path, class: 'navbar-brand d-flex align-items-center text-center' do %>
      <div class="nav_logo">
        <%= image_tag "ruyi_block_logo.svg", height: "60" %>
      </div>
    <% end %>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Progress Circle HTML -->
      <div id="progress-circle" class="progress-circle d-none">
        <div class="spinner-border text-danger" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <h5 class="text-secondary">Working...</h5>
      </div>
      <div class="navbar-nav ms-auto">
        <%= link_to 'All Listings', apartments_path, class: 'nav-item nav-link' %>
        <% @tags.each do |tag| %>
          <% if tag.parent_tags.empty? %>
            <% if tag.child_tags.any? %>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><%= tag.name %></a>
                <div class="dropdown-menu">
                  <% tag.child_tags.each do |child_tag| %>
                    <%= link_to child_tag.name, tag_path(child_tag), class: 'dropdown-item' %>
                  <% end %>
                  <!-- Link to view all child tags -->
                  <div class="dropdown-divider"></div>
                  <%= link_to 'View All', tag_path(tag), class: 'dropdown-item' %>
                </div>
              </div>
            <% else %>
              <%= link_to tag.name, tag_path(tag), class: 'nav-item nav-link' %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.blank? %>
          <% unless ["search"].include? action_name %>
            <%= link_to 'Admin Portal', mobile_login_path, class: 'nav-item nav-link' %>
          <% end %>
        <% else %>
          <%= render partial: 'users/dropdown' %>
        <% end %>
      </div>
      <div class="nav-contact ms-4">
        <div class="d-flex">
          <a href="tel: #{t.('business.phone')}" class="nav-item nav-link d-flex align-items-center" style="height:40px;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="" style="height: 1.5rem;">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
            </svg>
          </a>
          <div class="d-flex">
            <div class="d-flex align-items-center mx-2">
              <strong class="me-2">Phone</strong>
              <a href="tel: #{t('business.phone')}">
                <%= t("business.phone") %>
              </a>
            </div>
            <div class="d-flex align-items-center mx-2">
              <strong class="me-2">Email</strong>
              <a href="mailto: #{t('business.email')}">
                <%= t("business.email") %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
